* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Modalens indhold, herunder logo, luk knap og overskrift */
.brief-container {
    height: 550px;
    width: 600px;
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
    position: relative;
}

.brief-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.create-mission {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 15px;
    align-items: center;
}

.icon {
    top: 15px;
    right: 15px;
    position: absolute;
}

.close-btn {
    height: 24px;
    width: 24px;

}

h2 {
    color: #E9E9E9;
    font-family: 'Roboto', 'Sans-serif';
    padding-left: 10px;
}
h3 {
    color: #E9E9E9;
    font-family: 'Roboto', 'Sans-serif';
    width: 100%;
}

/* Title for modalen */
.modal-title {
    /* background-color: turquoise; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}
.modal-title h3 {
    font-size: 40px;
}

/* Navbaren med brief highlighted i blå */

.brief-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .tab-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    color: #E9E9E9;
    width: fit-content;
    font-family: 'Roboto', 'Sans-serif';
    box-shadow: 0 1px 3px 0  #1b1b1b;
}
.tab-btn {
    background-color: #292929;
    color: #A8A8A8;
    width: 100px;
    border: none;
    padding: 10px;
  }

  .tab-btn.selected {
    color: #0D76BD;
    border-bottom: solid 2px #0D76BD;
  }

/* Inputboxene */

.briefinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.brief-box {
    width:250px;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2F2F2F;
    color: #A8A8A8;
    border: solid 1px #A8A8A8;
    text-align: left;
}

button {
    cursor: pointer;
}

button span {
    margin-right: 5px;
}

/* Next knappen, med felt til senere previous knap */
  .cta-btn {
    background-color: #0D76BD;
    width: fit-content;
    color: #2F2F2F;
    text-align: center;
    padding: 7px 15px 7px 15px;
    margin-bottom: 10px;
    font-family: 'roboto';
    font-weight: 500;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    }

.brief-bottom-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    padding-right: 20px;
    padding: 10px;
  }

  .breadcrumbs-container {
    color: #0D76BD;
    border-bottom: solid 2px #0D76BD;
  }


/*Her starter open mission CSS - Bui */

.open-middle-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .open-title {
    color: #E9E9E9;
    font-family: 'Roboto', 'Sans-serif';
    padding-left: 61px;
    padding-bottom: 5px;
    margin: 0;
  }

.recent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5F5F5F;
    height: 110px;
    width: 475px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
}


h4 {
    font-family: 'Roboto', 'Sans-serif';
    color: #E9E9E9;
    margin-top: 8px;
}

p {
    font-family: 'Roboto', 'Sans-serif';
    color: #CACACA;
    font-size: 12px;
    margin-top: 3px;

}

.mission-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #7B7B7B;
    margin-left: 8px;
    width: 200px;
}

.mission-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #7B7B7B;
    width: 200px;
    margin-right: 8px;
}

.open-middle-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.files-container {
    display: flex;
    flex-direction: column;
    background-color: #5F5F5F;
    height: 135px;
    width: 475px;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 475px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 46px;
}

#visited {
    margin-left: 25px;
}

#created {
    margin-left: 10px;
}

.files-text {
    margin: 8px;
    font-size: 12px;
}

.mission-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 475px;
}

.mission-text-container {
    margin-left: -75px;
}

.mission-checkbox-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

input {
    margin-top: 9px;
    margin-left: -5px;
    margin-right: 5px;
}

