body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.brief-container {
    height: 500px;
    width: 600px;
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
}

.brief-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.create-mission {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 15px;
}

.icon {
    padding-right: 15px;
    padding-top: 15px;
}

.close-btn {
    height: 24px;
    width: 24px;
    
}

h2 {
    color: #E9E9E9;
    font-family: 'Roboto', 'Sans-serif';
    padding-left: 10px;
}

.brief-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    color: #E9E9E9;
    width: 300px;
    
}