@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {box-sizing: border-box;}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'roboto', sans-serif;
    position: relative;
}

main {
    position: relative;
}

button:focus, input:focus {
    outline:none;
}

button span {
    margin-right: 5px;
}

.create-mission-modal {
    position: absolute;
    top: 0;
    left: 0;
}

.dashboard button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.dashboard .title-bar {
    background-color: black;
    width: 100%;
    height: 50px;
    position: relative;
}

.dashboard .file-menu-bar {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 30px;
    padding-right: 15px;
    position: absolute;
    bottom: 0;
}

.dashboard .file-menu-bar p {
    margin: 0;
}

.dashboard .file-menu-bar span {
    margin-left: 15px;
}

.dashboard .file-menu-bar div {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.dashboard .side-bar {
    background-color: #121212;
    width: 300px;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 15px;
}

.dashboard .side-bar .top {
    display: flex;
    justify-content: space-between;
}

.dashboard .side-bar .top h2 {
    margin: 0;
    color: white;
    margin-bottom: 10px;
}

.dashboard .side-bar .btn-container div {
    display: flex;
    justify-content: space-between;
}

.dashboard .side-bar .mission-list {
    background-color: rgba(255, 255, 255, 0.11);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50vh;
}

.dashboard .side-bar .status-bar {
    background-color: rgba(255, 255, 255, 0.11);
    margin: 10px 0 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a1a1a1;
}

.dashboard .material-icons.md-light {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.dashboard .operation-area-container {
    position: absolute;
    left: 300px;
    top: 50px;
    right: 0;
    bottom: 0;
}

.dashboard .cta-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dashboard .cta-container button {
    color: white;
    font-size: 18px;
    padding: 7px 15px 7px 15px;
}

.cta-btn {
    background-color: #0D76BD;
    color: black;
    text-align: center;
    width: fit-content;
    padding: 7px 15px 7px 15px;
    font-family: 'roboto';
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

.btn {
    background-color: transparent;
    color: #0D76BD;
    text-align: center;
    width: fit-content;
    padding: 7px 15px 7px 15px;
    font-family: 'roboto';
    font-weight: 500;
    border: 1px solid #757575;
    border-radius: 5px;
}

.special-padding {
    padding: 1px 6px;
  }

.tab-btn-container {
    width: 300px;
    display: flex;
    box-shadow: 0 3px 3px 0 #1b1b1b;
    margin: 0;
}

.tab-btn {
    background-color: #292929;
    color: #757575;
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100px;
    border: none;
    padding: 10px;
    margin-bottom: 0 !important;
    cursor: auto !important;
}

.tab-btn.selected {
    color: #0D76BD;
    border-bottom: solid 2px #0D76BD;
}

.clear-list-warning {
    background-color: #2f2f2f;
    color: white;
    width: 345px;
    height: 206px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    left: 300px;
    bottom: 0;
}

.clear-list-warning h3, h2, p {
    text-align: center;
    margin: 0 0 10px 0;
}

.clear-list-warning h2 {
    color: #0D76BD;
}

.clear-list-warning div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clear-list-warning button {
    padding: 7px 15px;
}

.icon:hover {
  cursor: pointer;
}



.mediaquery {
    display: none;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px;
}

@media only screen and (max-width: 700px) {
    .mediaquery {
        display: block;
    }
}