* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #0D76BD;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
}

button:hover {
  opacity: 75%;
  cursor: pointer;
}

h1 {
  font-family: 'roboto';
  font-size: 96px;
}

h2 {
  font-family: 'roboto';
  font-size: 60px;
}

h3 {
  font-family: 'roboto';
  font-size: 48px;
}

h4 {
  font-family: 'roboto';
  font-size: 34px;
}

h5 {
  font-family: 'roboto';
  font-size: 24px;
}

.transparent-btn {
  background-color: transparent;
  border: none;
}

.login-container {
  background-color: #292929;
  height: 420px;
  width: 640px;
  box-shadow: 2px 2px 8px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: relative;
  top: 15px;
  left: 175px;
  height: 120px;
  width: 255.5px;
}

.item-container {
  width: 590px;
  height: 350px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.input-box {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 325px;
  border-radius: 5px;
  border: none;
}

#username {
  margin-top: 25px;
}

#password {
  margin-top: 15px;
}

label {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 60%;
  margin-top: 7px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.btn {
  background-color: #292929;
  color: #0D76BD;
  text-align: center;
  padding: 7px 15px 7px 15px;
  font-family: 'roboto';
  font-weight: 500;
  border: 1px solid #757575;
  border-radius: 5px;
}

.cta-btn {
  background-color: #0D76BD;
  color: #FFFFFF;
  text-align: center;
  padding: 7px 15px 7px 15px;
  font-family: 'roboto';
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  color: black;
  padding-left: 15px;
  opacity: 50%;
}

#faq-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#faq-icon {
  font-size: 48px;
  color: #ffffff;
}


/* Slut for login side */

/* Start for Forgot password */


.forgot-password-container {
  background-color: #121212;
  height: 420px;
  width: 640px;
  box-shadow: 2px 2px 8px black;
}

#h4-forgot-password {
  color: #ffffff;
  position: relative;
  top: 75px;
  left: 25px;
}

.p-text {
  color: #ffffff;
  position: relative;
  top: 115px;
  left: 25px;
  opacity: 75%;
}

#forgot-password-username {
  position: relative;
  top: 160px;
  left: 150px;
}

#send-mail-cta {
  position: relative;
  top: 230px;
  left: 525px;
}

#cancel-btn {
  color: #E9E9E9;
  position: relative;
  top: -115px;
  left: 500px;
}

/* Slut på forgot password */

/* Start på FAQ */


.faq-container {
  height: 420px;
  width: 640px;
  background-color: #292929;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #FFFFFF;
  display: flex;
}

.blue-side {
  height: 418px;
  width: 200px;
  background-color: #0D76BD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.faq-logo-container {
  margin-top: 50px;
  height: 145px;
  width: 145px;
}

#faq-h3 {
  color: white;
}

.faq-icon-container {
  margin-top: 25px;
  width: 300px;
  height: 325px;
  align-self: center;
  margin-left: 85px;
}

#faq-title-h4 {
  position: relative;
  color: #ffffff;
}
