@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
    --prim-color: #0D76BD;
    --sec-color: #e30c17;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 0px 0px 0px 50px;
  padding: 40px;
  position: absolute;
  left: 200px;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}


.informerende-tekst {
  margin-top: 20px;
}

.snippet {
  background-color: skyblue;
  color: black;
  min-width: fit-content;
  width: 50%;
  margin-top: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Sidebar */
nav {
  width: 200px;
  height: 100vh;
  background-color: var(--prim-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  z-index: 1;
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  width: 90%;
}

nav p {
  margin: 0 0 10px;
  padding-left: 20px;
  font-size: 20px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;

}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.7);
  padding: 20px;
  position: relative;
}

nav ul li div {
  position: absolute;
  top: -2px;
  right: -20px;
  background-color: var(--prim-color);
  border-top: 2px solid rgba(200, 200, 200, 0.7);
  border-bottom: 2px solid rgba(200, 200, 200, 0.7);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 3px rgba(100, 100, 100, 0.5);
  padding: 0;
  margin: 0;
  width: 20px;
  height: 107%;
  display: none;
}

nav ul li div.selected {
  display: block;
}

nav ul li div.selected + a {
  padding: 10px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.7);
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover div {
  display: block;
}

/* Typografi */
h1 {
  font-size: 96px;
  color: #292929;
}

h2 {
  font-size: 24px;
  color: #292929;
}

h3 {
  font-size: 48px;
  color: #292929;
}

h4 {
  font-size: 34px;
  color: #292929;
}

h5 {
  font-size: 24px;
  color: #292929;
}

.h5-anvendelse {
  margin-top: 25px;
}

/* Knapper */
button {
  cursor: pointer;
}

button span {
  margin-right: 5px;
}

.cta-btn {
  background-color: #0D76BD;
  width: fit-content;
  color: #FFFFFF;
  text-align: center;
  padding: 7px 15px 7px 15px;
  margin-bottom: 10px;
  font-family: 'roboto';
  font-weight: 500;
  border: none;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.cta-btn.alt {
  color: #000;
}

.btn {
  background-color: transparent;
  width: fit-content;
  color: #0D76BD;
  text-align: center;
  padding: 7px 15px 7px 15px;
  margin-bottom: 10px;
  font-family: 'roboto';
  font-weight: 500;
  border: 1px solid #757575;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.special-padding {
  padding: 1px 6px;
}

.tab-btn-container {
  width: 300px;
  display: flex;
  box-shadow: 0 3px 3px 0 #1b1b1b;
  margin: 0;
}

.tab-btn {
  background-color: #292929;
  color: white;
  width: 100px;
  border: none;
  padding: 10px;
}

.tab-btn.selected {
  color: #0D76BD;
  border-bottom: solid 2px #0D76BD;
}

/* dette er starten på farvesektion */

:root {
  --blue: #0D76BD;
  --surface: rgba(255,255,255,0.11);
}

.farve-container {
  margin-top: 50px;
  width: 80%;
  height: 100%;
}

.primær-farve-container {
  display: flex;
  justify-content: left;
}

.sekundær-farve-container {
  display: flex;
  justify-content: left;
}

.card-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 25px;
}

.farve {
  width: 180px;
  height: 110px;
  background-color: #0D76BD;
  border-radius: 5px;
  margin: 5px;
}

#grå-primær {
  background-color: #58585a;
}

#hvid {
  background-color: #ffffff;
}

#sort {
  background-color: #121212;
}

#grå-sekundær {
  background-color: #5F5F5F;
}

.text-farve-container {
  margin-bottom: 10px;
}

.h5-farve-tekst {
  margin-top: 10px;
}


.card-container:hover {
  transform: scale(1.2);
  transition: 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Dette er slutten på farvesektion */

/* Dette er starten på typografi */

.flex-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.typografi-information {
  padding-top: 50px;
}

.headline-eksempel {
  position: relative;
  width: 400px;
  height: 200px;
  border: 1px solid #0D76BD;
  text-align: center;
  padding-top: 50px;
  border: 2px solid #0D76BD;
}

.headline-informerende-tekst {
  padding-top: 10px;
  opacity: 50%;
  font-family: 'sans serif';
  line-height: 25px;
}

.typografi-anvendelses-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25%;
  background-color: #0D76BD;
}

.typografi-beskrivende-tekst {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #ffffff;
}
